.moviesTabs {
  width: fit-content;
  margin: 6px auto;
  padding-top: 20px;
}

@media (min-width: 320px) {
  .moviesTabs {
    padding-top: 6px;
  }
}

@media (max-width: 320px) {
  .moviesTabs {
    padding-top: 6px;
  }
}

@media (min-width: 768px) {
  .moviesTabs {
    padding-top: 20px;
  }
}
